.antena-icon::before{
    background-image: url(../images/antenna.svg);
}
    
.clock-icon::before{
    background-image: url(../images/clock1.svg);
}

.diagram-icon::before{
    background-image: url(../images/diagram1.svg);
}

.astronavt-icon::before{
    background-image: url(../images/astronaut1.svg);
}
.icon-features{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 30px;
    padding-top: 25px;
        
}