$main-text-color: #757575;
$title-color: #FFFFFF;
$accent-color: #2196F3;
$secondary-title-color: #212121;
$black-color: #000000;
$footer-contacts-color: rgba(255, 255, 255, 0.6);


$main-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;