.features{
    padding-top: 60px;
    padding-bottom: 60px;
    

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }


}
.list-features{
    @media screen and (max-width: 768px){
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px){
        display: flex;
    }

    
}

.list-features .item::before{
    display: block;
    content:"";
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;  
}
    


.list-features .item{
    width: 100%;
    height: auto;
    margin-bottom: 30px; 

     &:last-child{
        margin-bottom: 0;
     }
    
    
    @media screen and (max-width: 768px) {
        width: calc((100% - 2 * 30px) / 2);;
        
        margin-right: 30px; 

            &:nth-child(2n) {
            margin-right: 0px;
        }
    
            &:nth-last-child(-n + 2){
            margin-bottom: 0px;
        
        } 
    
    }

    @media screen and (min-width: 1200px){
        width: calc((100% - 3 * 30px) / 4);;
        margin-right: 30px; 

        &:nth-child(4n){
        margin-right: 0px;
        }

        margin-bottom: 0;
    }
        
}



.title-features{
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: $secondary-title-color;

    @media screen and (min-width: 768px) {
        text-align: left;
    }
    
    
}

.discription{
    margin: 0px 0px;
}
    
    
